@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medio';
    src: url('fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 30, 30, 1);
}

.iframefooter {
    height: 100vh;
    width: 100%;
    border: none;
}

.iframefooter::-webkit-scrollbar,
.iframenav::-webkit-scrollbar {
    display: none;
}

.iframenav {
    height: 100%;
    width: 100%;
    border: none;
}

.navegar {
    background-color: rgba(107, 51, 53, 0.75);
    height: 120px;
    width: 100%;
    border: 1px solid rgba(240, 51, 51, 1);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    height: 100vh;
}

.barranav {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: 'poppins_medio';
}

.logo {
    height: 35px;
    min-width: 100px;
}

.menu {
    min-width: 26px;
    min-height: 20px;
    background-image: url(img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .logodentro {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
} */



.divbusca {
    background-color: rgba(107, 51, 53, 0.75);
    margin: 12px;
    height: 30px;
    width: 670px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'poppins_medio';
    user-select: none;
    cursor: pointer;
    border: 1px solid rgba(240, 51, 51, 1);
}

#lupa_busca {
    width: 20px;
}

.letra {
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 10px 0px 10px;
}

.letra:hover {
    transition: 0.3s;
    background-color: rgba(107, 51, 53, 0.75);
    border-radius: 20px;
    color: black;
}

.letra:active {
    background-color: rgba(107, 51, 53, 0.75);
}

.alinharletra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 30px 0 30px;
}

figcaption {
    font-size: 10px;
    color: white;
    font-family: 'poppins_medio';
}

.perfil {
    height: 33px;
    width: 33px;
    border-radius: 20px;
}

.carrinho {
    width: 50px;
    height: 50px;
}


.spaceperfil {
    min-width: 160px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a:link {
    text-align: center;
    text-decoration: none;
    color: black;
}

.secondnavbar {
    height: 30px;
    width: 100vw;
    border: 1px solid rgba(240, 51, 51, 1);
    background-color: rgba(107, 51, 53, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boxsecondnavbar {
    width: 160px;
    height: 30px;
    color: white;
    background-color: rgba(107, 51, 53, 0.75);
    border: 1px solid rgba(240, 51, 51, 1);
    font-size: 12px;
    font-family: 'poppins_medio';
}

.boxsecondnavbar:hover {
    background-color: rgba(240, 51, 51, 1);
}

.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.mySlides {
    display: flex;
    justify-content: center;
    width: 97%;
}

.propaganda {
    width: 100%;
    max-height: 400px;
}

@media (max-width:450px) {
    .caixas {
        overflow-x: scroll;
    }

    .linkcaixa {
        max-height: 100vh;
    }

    .bordacaixas {
        max-width: 210px;
        height: 90%;
    }

    .fotodentro {
        max-height: 150px;
    }

    .setadireita {
        display: none;
    }

    .setaesquerda {
        display: none;
    }

    .caixas::-webkit-scrollbar-thumb {
        background-color: rgba(169, 185, 178, 0.5);
        scrollbar-width: 10px;
        border-radius: 5px;
    }
}

@media (max-width:600px) {
    .caixas {
        margin: auto;
    }

    .movecaixasrecomendadas {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .secondnavbar {
        display: none;
    }

    .divbusca {
        display: none;
    }

    .carrinho {
        display: none;
    }

    .logodentro {
        display: contents;
    }

    .spaceperfil {
        display: contents;
    }

    .barranav {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    .logodentro .logo {
        display: contents;
    }

    .logodentro .menu {
        display: none;
    }

    footer {
        min-height: 100%;
    }

    #dados_div {
        min-height: 100vh;
    }

    nav .divbusca:nth-child(2) {
        display: inherit;
        width: 90%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movecaixasrecomendadas {
        gap: 20px;
    }

    .bordacaixasrecomendadas {
        padding: 0;
        height: 100px;
        width: 150px;
    }

    .caixasrecomendadas {
        max-width: 130px;
        max-height: 80px;
    }

    .titulocaixa {
        margin: 0;

    }
}

@media (min-width:601px) {
    .logodentro {
        display: none;
    }

    nav .divbusca:nth-child(2) {
        display: none;
    }

    #dados_div {
        bottom: 0;
        width: 100vw;
    }
}

@media (min-width:451px) {
    .caixas {
        margin-bottom: 30px;
    }

    .caixas::-webkit-scrollbar {
        display: none;
    }

    .dados_footer {
        margin: 20px auto 10px auto;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    opacity: 1;
}

.next {
    right: 25px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 25px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.moveboxfundo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxfundo {
    background-color: #F5F5F7;
    max-width: 97%;
    width: 1455px;
    border-radius: 2px;
    border: 1px solid #F03333;
    margin-bottom: 100px;
}

.linkmovecaixasrecomendadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.movecaixasrecomendadas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 60px;

}

.bordacaixasrecomendadas {
    border: 0;
    background-color: white;
    border-radius: 2px;
    height: 200px;
    max-width: 310px;
}

.caixasrecomendadas {
    width: 290px;
    height: 120px;
    margin: 10px;
}

.bordacaixasrecomendadas:hover {
    cursor: pointer;
    opacity: 0.9;
    user-select: none;
    box-shadow: 0 4px 10px rgba(240, 51, 51, 0.25);

}

.marca {
    font-family: 'poppins_bold';
    font-size: 18px;
    color: #333333;
}

.verprodutos {
    font-family: 'poppins_semibold';
    font-size: 12px;
    color: #A73437;
}

.titulocaixa {
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 0 60px;
}

.titulocaixa p {
    font-family: 'poppins_bold';
    font-size: 20px;
    color: #333333;
}

.titulocaixa a {
    font-family: 'poppins_semibold';
    font-size: 16px;
    color: #A73437;
}

.joinboxelements {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.caixas {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 90%;
    max-height: 470px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 30px;
}

.setadireita {
    height: 50px;
    width: 30px;
    position: relative;
    right: 0;
    margin-top: 220px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;

}

.setadireita,
.setaesquerda {
    cursor: pointer;
    color: white;
    background: #D9D9D9;
    font-size: 18px;
    transition: 0.6s ease;
    border: 0;
    opacity: 1;
}

.setadireita:hover,
.setaesquerda:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.setaesquerda {
    height: 50px;
    width: 30px;
    position: relative;
    left: 0;
    margin-top: 220px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}


/* .caixas::-webkit-scrollbar {
    background-color: white;
    height: 10px;
}

.caixas::-webkit-scrollbar-thumb {
    background-color: rgba(169, 185, 178, 0.5);
    scrollbar-width: 10px;
    border-radius: 5px;
} */



.bordacaixas {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 0;
    margin: 20px 20px 20px 0;
    width: 270px;
    max-height: 400px;
    border-radius: 2px;
    transition: box-shadow 0.15s, border-style 0.15s, border-color 0.15s, border-width 0.15s;

}

.bordacaixas:hover {
    cursor: pointer;
    opacity: 0.9;
    user-select: none;
    box-shadow: 0 4px 10px rgba(240, 51, 51, 0.25);

}

.bordacaixas:active {
    opacity: 0.8;
    user-select: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}


.linha0 {
    max-width: 1500px;
    max-height: 100%;
    flex-direction: column;
}

/* .linha0::-webkit-scrollbar {
    background-color: white;
    width: 5px;

}

.linha0::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(169, 185, 178, 0.5);

} */

.linkcaixa {
    width: 340px;
    height: 100%;
}

.fotodentro {
    width: 100%;
    height: 270px;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}

.moverdescricaocaixa {
    display: block;
    width: 100%;
    height: 60px;
    overflow-y: auto;
}

.moverdescricaocaixa::-webkit-scrollbar {
    width: 4px;
}

.moverdescricaocaixa::-webkit-scrollbar-track {
    background: transparent;
}

.moverdescricaocaixa::-webkit-scrollbar-thumb {
    background-color: rgba(169, 185, 178, 0.8);
    border-radius: 5px;
}

.escritacaixa {
    font-size: 16px;
    font-family: 'poppins_semibold';
    color: #666666;
    text-align: left;
    margin: 15px 10px 0 10px;


}

.precocaixa {
    font-size: 20px;
    font-family: 'poppins_bold';
    color: rgba(240, 51, 51, 1);
    margin: 10px 0 0 10px;
    text-align: left;
}

.parcelamentopreco {
    font-family: 'poppins_medio';
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
    color: #666666;
}

/*Rodapé*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#dados_div {
    background-image: url(img/imgrodapé.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: #6B3335BF;
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    justify-content: space-between;
    position: absolute;

}

.dados_footer {
    color: white;
    font-family: 'poppins';
    font-size: 12px;
    max-width: 200px;
    flex-wrap: wrap;

}

.dados_footer ul {
    list-style-type: none;
}

.dados_footer img {
    width: 15px;
    height: 15px;
}

.dados_footer p {
    font-family: 'poppins';
    font-size: 18px;
    margin: 20px;
}

.dados_footer a {
    color: white;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 10px;
}

.dados_footer li {
    margin: 10px 20px;
}

#links_footer li {
    color: white;
    text-decoration: none;
    margin: 10px;
}

#links_footer li :hover {
    background-color: white;
    color: rgba(82, 114, 101, 1);
    transition: 0.4s;
    border-radius: 10px;
}

#copy123folhas {
    height: 40px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-family: 'poppins';
}

#copy123folhas a {
    color: white;
}