@font-face {
    font-family: 'poppins';
    src: url('../../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_medio';
    src: url('../../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_semibold';
    src: url('../../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins_bold';
    src: url('../../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
    height: 100vh;
    position: relative;
}

.iframefooter {
    height: 45%;
    width: 100%;
    border: none;
    position: absolute;
    bottom: 0;
}

.iframefooter::-webkit-scrollbar,
.iframenav::-webkit-scrollbar {
    display: none;
}

.iframenav {
    height: 140px;
    width: 100%;
    border: none;
}


.titulo {
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 20px;
    gap: 10px;
}

.titulo p:nth-of-type(1) {
    font-size: 20px;
    font-family: 'poppins_bold';
}

.titulo p:nth-of-type(2) {
    font-size: 15px;
    margin-left: 20px;
    font-family: 'poppins_medio';
    color: rgba(255, 255, 255, 80%);
}

.titulo img:nth-of-type(1) {
    width: 30px;
    height: 30px;
}

.alignCartoes {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.addCartao {
    max-width: 360px;
    width: 100%;
    min-height: 110px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(240, 51, 51, 1);
    border-radius: 2px;
}

.addCartao:hover {
    box-shadow: 0px 0px 75px 0px rgba(240, 51, 51, 0.25) inset;

}

.addCartao p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    font-weight: 900;
}

.caixasCartao {
    max-width: 360px;
    width: 100%;
    min-height: 110px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(240, 51, 51, 1);
    border-radius: 2px;
}

@media (max-width:400px) {
    .caixasCartao {
        display: flex;
        flex-direction: column;
        max-width: 190px;
    }
    .addCartao{
        max-width: 190px;
    }
}

.caixasCartao:hover {
    box-shadow: 0px 0px 75px 0px rgba(240, 51, 51, 0.25) inset;

}

#sectionCartoes {
    margin-bottom: 20px;
    min-height: 500px;
}

.cartao {
    min-width: 150px;
    height: 90px;
    background-color: #E8E8E8;
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    color: #333;
    font-family: 'poppins';
    text-transform: uppercase;
    font-size: 10.5px;
    padding: 0 10px 0 10px;
}

.cartao img {
    width: 30px;
    height: 30px;
    display: flex;
    align-self: flex-end;
}

.editar {
    cursor: pointer;
    width: 30%;
    font-family: 'poppins_medio';
    background-color: transparent;
    border: none;
    text-align: left;
    color: rgba(240, 51, 51, 1);
}

.dadosCartao {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    font-family: 'poppins';
    font-size: 13px;
}

#lixeira {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-self: flex-end;
    background: none;
    border: none;
    color: transparent;
    background-image: url(../../img/lixeira.png);
    background-position: center;
}

#semCartoes {
    color: rgba(240, 51, 51, 1);
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-family: 'poppins_medio';
}

#semLogin {
    color: rgba(240, 51, 51, 1);
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-family: 'poppins_medio';
}

.dialog {
    margin: auto auto;
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
}

#popUp::backdrop {
    opacity: 0.4;
    background-color: #1E1E1E;
}

.dialog form {
    width: 300px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog section {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.dialog section div {
    display: flex;
    flex-direction: column;
}

.dialog menu {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.dialog #titularCartao {
    width: 180px;
    height: 30px;
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);

}

.dialog div label {
    font-size: 16px;
    font-family: "poppins_medio";
}

.dialog #dataVencimentoPopUp {
    width: 70px;
    height: 30px;
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: "poppins_medio";
}

#cancel {
    height: 25px;
    width: 90px;
    background-color: rgba(88, 46, 47, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: "poppins_medio";
}

#enviarSubmit {
    height: 25px;
    width: 60px;
    background-color: rgba(167, 52, 55, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: "poppins_medio";
}

.dialog label {
    font-size: 16px;
}

#textoExcluir {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: "poppins_medio";
}

#popUpExcluir form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#confirmarSubmit {
    width: 100px;
    height: 25px;
    background-color: rgba(167, 52, 55, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
}


#addcartaoPopUp {
    width: 400px;
    height: 300px;
    margin: auto auto;
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
}

#addcartaoPopUp::backdrop{
    opacity: 0.4;
    background-color: #1E1E1E;
}

#addcartaoPopUp menu {
    gap: 10px;
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;

}

#cancelAddCartao {
    height: 25px;
    width: 90px;
    background-color: rgba(88, 46, 47, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: "poppins_medio";
}

.inputsPopUpAddCartao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0 0 0;
    gap: 20px;
}

.inputsPopUpAddCartao input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.inputsPopUpAddCartao input {
    width: 180px;
    height: 30px;
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid rgba(240, 51, 51, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    text-align: center;
    font-family: "poppins";
}

body {
    font-family: "poppins";
}